hr {
    margin-bottom: 0px;
}
a {
    display: block;
    width: 180px;
}
.contactMethod {
    padding: 20px; border-bottom: 1px solid violet;
}
.contactDescription {
    padding-left: 80px;
}
#contactContent {
    margin: 0px 100px;
}
#contactContent * a:link {
    color: darkviolet;
}
#contactContent * a:visited {
    color: violet;
}
#contactFooter {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}
.last {
    border: 0px;
    margin-bottom: 40px;
}