body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    margin-top: 80px;
    color: #333;
}
hr {
    margin: 30px;
}
a:link {
    text-decoration: none;
    color: orange;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
    color: #CC7000;
}
.k6Image img {
    width: 50px;
    height: 50px;
}
.header {
    height: 50px;
    margin-bottom: 32px;
    /*background-color: #dadada;*/
    background-color: #222;
    width: 100%;
    /*border-bottom: 2px solid #dadada;*/
    border-bottom: 2px solid #222;
    position: fixed;
    top: 0px;
}
#authorName {
    display: inline-block;
    padding: 6px; 
    font-size: 36px;
    margin: 1px;
    text-align: center;
    float: left;
    margin-left: 16px;
    margin-right: 16px;
    color: #eeeeee;
}
.k6Image {
    float: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    /*padding: 8px;*/
    /*margin-left: 125px;*/
}
.navbar {
    float: right;
    padding-right: 8px;
}
.navbarButton {
    color: #e8e8e8;
    display: inline-block;
    height: 32px;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 16px;
}
.navbar div:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}
.pageTitle {
    padding-left: 16px;
    padding-right: 16px;
    width: 800px;
    text-align: center;
    margin: auto auto;
}