html {
    min-width: 500px;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    margin-top: 80px;
    color: #333;
}
hr {
    margin: 30px;
}
a:link {
    text-decoration: none;
    color: orange;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
    color: #CC7000;
}
.k6Image img {
    width: 50px;
    height: 50px;
}
.header {
    height: 50px;
    margin-bottom: 32px;
    /*background-color: #dadada;*/
    background-color: #222;
    width: 100%;
    /*border-bottom: 2px solid #dadada;*/
    border-bottom: 2px solid #222;
    position: fixed;
    top: 0px;
    z-index: 99;
}
#authorName {
    display: inline-block;
    padding: 6px; 
    font-size: 36px;
    margin: 1px;
    text-align: center;
    float: left;
    margin-left: 16px;
    margin-right: 16px;
    color: #eeeeee;
}
.k6Image {
    float: center;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.navbar {
    float: right;
    padding-right: 8px;
}
.navbarButton {
    color: #e8e8e8;
    display: inline-block;
    height: 32px;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 16px;
}
.navbar div:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}
.pageTitle {
    padding-left: 16px;
    padding-right: 16px;
    /*width: 800px;*/
    text-align: center;
    margin: auto auto;
}
@media all and (min-width: 800px) and (max-width: 1218px) {
    #authorName {
        display: inline-block;
        padding: 0px; 
        font-size: 24px;
        margin: 0px;
        margin-top: 13px;
        padding-right: 5%;
        width: 20%;
    }
    .k6Image {
        display: none;
    }
    .navbar {
        float: right;
        padding-right: 0px;
        width: 75%;
    }
    .navbarButton {
        color: #e8e8e8;
        display: inline-block;
        font-size: 14px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 18px;
        margin-right: 4px;
    }
}
@media all and (max-width: 800px) and (min-width: 555px) {
    #authorName {
        display: inline-block;
        padding: 0px; 
        font-size: 18px;
        margin: 0px;
        margin-top: 10px;
        margin-left: 5%;
        width: 20%;
    }
    .k6Image {
        display: none;
    }
    .navbar {
        float: right;
        padding-right: 0px;
        width: 75%;
    }
    .navbarButton {
        color: #e8e8e8;
        display: inline-block;
        height: 32px;
        font-size: 10px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-right: 4px;
    }
}
@media all and (max-width: 555px) {
    #authorName {
        display: inline-block;
        padding: 0px; 
        font-size: 18px;
        margin: 0px;
        width: 20%;
    }
    .k6Image {
        display: none;
    }
    .navbar {
        float: right;
        padding-right: 0px;
        width: 80%;
    }
    .navbarButton {
        color: #e8e8e8;
        display: inline-block;
        height: 32px;
        font-size: 10px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-right: 4px;
    }
}