#indexFooter {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}
#home {
    width: 800px; 
    margin: 0 auto; 
    text-align: center;
    font-size: 20px;
}
#hw {
    font-family: monospace, sans-serif;
}
p {
    margin-top: 10px;
}
#resume {
    width: 845px;
    margin: 20px 282px;
    height: 1080px;
}