.project {
    padding: 20px; border-bottom: 0px solid orange;
}
.date {
    padding-left: 10px;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
}
.stateAttribute {
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    width: 30px;
}
.projectDescription {
    padding-left: 80px;
}
.projectTitle {
    margin-top: 0px;
}
#projectsContent {
    margin: 0px 100px;
}
.projectText {
    display: inline-block;
    vertical-align: top;
    width: 669px;
    height: 250px;
}
.picture {
    display: inline-block;
    height: 250px;
    margin: 10px;
}
.last {
    border: 0px;
    margin-bottom: 40px;
}