.skill {
    padding: 20px; border-bottom: 1px solid yellow;
}
.date {
    padding-left: 10px;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
}
.stateAttribute {
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    width: 30px;
}
.skillDetails {
    padding-left: 80px;
    font-size: 18px;
}
.skillName {
    cursor: pointer;
    margin-top: 0px;
}
#skills {
    margin: 0px 100px;
}
.picture {
    /*currently unused*/
    display: inline-block;
    height: 250px;
    margin: 10px;
}
.last {
    border: 0px;
    margin-bottom: 40px;
}